* {
    box-sizing: border-box;
    font-family: ".AppleSystemUIFont";
}
body {
    background-color: #e6f2f2;
}
h1 {
    color: #0d8686;
    text-align: center;
    margin-bottom: 15px;
}
.bigbox{
    border: 1px solid #0d8686;
    background-color: #b2d9d9;
    width: 95%;
}
p,.box {
    margin-right: 20px;
    margin-left: auto;
}
p {
    width: 90%;
    color: white;
    overflow: auto;
}
h2{
    margin-top: 0px;
}
.box {
    background-color: #40a0a0;
    color:#b2d9d9;
    width: 175px;
    text-align: center;
    margin-right: 0px;
    margin-bottom: -5px;

}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-3 {
        float: left;
        width: 33.33%;
        position: relative;
    }

}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-6 {
        float: left;
    }
    .col-md-1 {
        width: 100%;
    }
    .col-md-6 {
        width: 50%;
    }
}